#{extends 'main.html' /}
#{set title:'Imagineware' /}

		<div class="slideshow">

			<div class="slide-text">	
				<h1 class="divider">¡Hola! Bienvenido a la web oficial de la asociación ImagineWare.</h1><br /><br />
				
					<p>Si te gusta el desarrollo web y de aplicaciones para smartphones, y quieres <em>encontrar otros alumnos con tus mismas inquietudes...</em></p>
					<p>Si quieres <em>aprender</em>, pero no tienes ni idea de por dónde empezar...</p>
					<p>Si tienes en la cabeza una <em>idea revolucionaria</em>, que crees que será el próximo facebook o whatsapp, pero no eres programador y buscas alguien que te ayude...</p>
					<br/>
					<p><a href="javascript:$.scrollTo('#footer',800);">Síguenos</a>, pronto <em>te ayudaremos.</em></p>
				</ol>
			</div><!--END of slide-text-->
			
			<div class="nivoSlider style1" id="slidernivo">
				<img src="@{'public/images/nivoslide1.jpg'}" alt="" width="640" />				
				<img src="@{'public/images/nivoslide2.jpg'}" alt="" width="640" />						
				<img src="@{'public/images/nivoslide3.jpg'}" alt="" width="640" />				
				<img src="@{'public/images/nivoslide4.jpg'}" alt="" width="640" />	
			</div><!--END slidernivo-->
			
		</div><!--END slideshow-->	

		<div id="content">

			<div class="overline"><h2>Próximos eventos</h2></div>
							
			<!--[[<div class="one-third home-entry"> 	
				<a href="charla-kinectizate-2012.html">
					<img src="img/events/kinectizate-profile.jpg" width="300" class="shadow" alt="Kinect" />
					<h2 class="title">Introducción al desarrollo con el SDK de Kinect</h2>
				</a>
			</div>		
			
							
			<div class="one-third home-entry">
				<a href="charla-msrobotics-2012.html">	
					<img src="img/events/msrobotics-profile.jpg" width="300" class="shadow" alt="Robot" />
					<h2 class="title">Aprende Microsoft Robotics Studio</h2>
				</a>				
			</div>

			<div class="one-third home-entry last">
				<img src="img/events/unk-profile.jpg" width="300" class="shadow" alt="#" />
				<h2 class="title"><a href="#">...</a></h2>		
			</div>]]-->	
			
			
			<div class="divider"></div>
			
			
			<div class="overline"><h2>Eventos pasados</h2></div>	
			
			<!--[[ 
			<div class="one-third home-entry">		
											
				<div class="post-meta">				
					Martes 13 de Marzo, 2012		
				</div>
				<h2 class="title"><a href="charla-gsoc-2012.html">Charla informativa Google Summer of Code 2012</a></h2>					
				<p>Si te la perdiste, ¡no te preocupes! Entra para ver las diapositivas y la transcripción de la misma, y pregúntanos todas tus dudas.</p>	
			</div>
			
							
			<div class="one-third home-entry"> 
					
				<div class="post-meta">				
					February 22, 2011 - <a href="#">8 comments</a>		
				</div>	
				<h2 class="title"><a href="blog-single.html">Totam rem aperiam, eaque ipsa quae ab illo inventore et quasi architecto</a></h2>	
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>	
		 	</div>		
							
			<div class="one-third home-entry last">		
										
				<div class="post-meta">				
					February 28, 2011 - <a href="#">3 comments</a>	
				</div>		
				<h2 class="title"><a href="blog-single.html">Nemo enim ipsam voluptatem quia voluptas sit asperna</a></h2>		
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur eaque ipsa quae ab illo inventore veritatis...</p>
			</div>]]-->	
			
		</div><!--END content-->
