<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ImagineWare - Charla informativa Google Summer of Code 2012</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/color-light.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/blog.css" type="text/css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,light,regular,bold' rel='stylesheet' type='text/css' /> 

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="javascript/custom.js"></script>

	<!-- PrettyPhoto JavaScript Files-->
	<script src="javascript/prettyPhoto.js" type="text/javascript"></script>
	<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />

	<!-- Styleswitch JavaScript Files -->
	<link rel="alternate stylesheet" type="text/css" media="screen" title="color-cream" href="css/color-cream.css" />
	<link rel="alternate stylesheet" type="text/css" media="screen" title="color-dark" href="css/color-dark.css" />
	<script type="text/javascript" src="javascript/styleswitch.js"></script>

	<!-- jQuery ScrollTo -->
	<script type="text/javascript" src="javascript/jquery.scrollTo.min.js"></script>

	<!-- Portfolio slides JavaScript Files -->
	<script type="text/javascript" src="javascript/slides.min.jquery.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#slides').slides({
				preload: true,
				preloadImage: 'images/loading.gif',			
				play: 4000,
				hoverPause: true
			});	
		});
	</script>

	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29278365-1']);
	  _gaq.push(['_setDomainName', 'imagineware.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>

<div id="wrapper">

	<!--[[ HEADER ]]-->

	<div id="content">

		<div id="sidebar">
		
			<div class="block">

			<div class="overline"><h2>Fecha y hora</h2></div>		
				<ul class="inline [[]]">
					<li>[[Jueves, 13 de Septiembre de 2012]]</li>
					<li>[[De 17:00 a 18:30 horas]]</li>
				</ul><!--END ul-->
			</div><!--END block-->
		
		
			<div class="block">
			<div class="overline"><h2>Lugar</h2></div>
				<ul class="inline [[]]">
					<li>[[Aula 3.1.S08 (Sótano de la Biblioteca), Campus de Leganés, Universidad Carlos III de Madrid]]</li>
					<li>[[Si no puedes asistir, podrás ver la grabación posteriormente desde esta web!]]</li>
				</ul><!--END ul-->
			</div><!--END block-->
			
		</div><!--END sidebar-->

		<div id="inner-content">
		
		<div class="overline"><h2>[[Aprende Microsoft Robotics Studio]]</h2></div>
		
			<div id="portfolio-item-slides">
				<div id="slides">
					<div class="slides_container">
						<a href="#"><img src="[[img/events/msrobotics.jpg]]" alt="Foto del evento" width="650" height="390" /></a>
					</div><!--END slides-container--> 
				</div><!--END slides--> 
			</div><!--END portfolio-item-slides-->
			
			<div >
				<!--[[
				<br/>
				
				<p>Este evento se grabará en vídeo para su posterior visionado a través de esta página web.</p>

				<br/>

				<h2>Organizadores</h2>
				<p>
					Este evento ha sido organizado por el <a href="https://twitter.com/DotNetClubUC3M">Club Dot Net Uc3m</a>, Imagineware y <a href="http://sel.inf.uc3m.es/">SEL-uc3m</a> en colaboración mutua.
				</p>

				<br/>

				<h2>Detalles</h2>

	            <p><span class="description">La última versión de Microsoft Robotics Studio nos acerca un poco más al ansiado objetivo de la conquista global (al mejor estilo Skynet). En esta charla veremos cómo podemos aprovechar esta tecnología, y utilizando Visual Studio comenzar a programar nuestros primeros robots. Además de programación concurrente, orientación a servicios, hardware as services, veremos una implantación real de esta tecnología en un escenario concreto, cómo perseguir a tu mascota utilizando Ms Robotics Studio, o como controlar un lanza misiles USB con Kinect.</span></p>
	            
	            <br/>

	            <h2>Requerimientos previos</h2>

	            <p>Todo el código del taller se programará en C# a través de Visual Studio. A pesar de que pueda ser un lenguaje desconocido para tí, ¡no te asustes! es muy parecido a Java, y seguro que no te pierdes. Eso sí, recomendamos tener un cierto grado de soltura con programación orientada a objetos... ¡y muchas ganas de aprender!</p>

	            <br/>

				<p><span class="description">Y si todavía te quedan dudas, contacta por nosotros <a href="contact.html" target="_blank">a través de esta web</a> o <a href="javascript:$.scrollTo('#footer',400);">las redes sociales.</a></span></p>
				]]-->
				
			</div><!--END two-odd-->
			
			<div class="divider"></div>	
								
		</div><!--END inner-content-->
		
	</div><!--END content-->

</div><!--END wrapper--> 
   
	<!--[[ FOOTER ]] -->

</body>
</html>	