	<div id="footer-wrapper">
		
		<div id="footer">
		
			<div class="one-fourth">
				<h3>¿Qué es ImagineWare?</h3>
				<p>ImagineWare es una asociación de alumnos nacida en la Universidad Carlos III de Madrid, cuyo fin es	el de formar una comunidad activa de estudiantes con inquietudes relacionadas con el desarrollo de software para móviles, web y tecnologías similares.</p>	
			</div><!--END ul one-fourth-->

			
			<div class="one-fourth">
				<h3>Últimos eventos añadidos</h3>

				<!--[[<ul>
					<li><a href="charla-msrobotics-2012.html">Aprende Microsoft Robotics Studio</a></li>
					<li><a href="charla-kinectizate-2012.html">Introducción al desarrollo con el SDK de Kinect</a></li>
					<li><a href="charla-gsoc-2012.html">Charla informativa Google Summer of Code 2012</a></li>
				</ul>]]-->
			</div><!--END ul one-fourth-->
			
			<div class="one-fourth">
				<h3>No te pierdas nada</h3>
				<ul class="socialize">
					<li><img src="@{'public/images/socialize1.png'}" alt="Twitter" /><a href="https://twitter.com/#!/imagine_ware">Síguenos en Twitter</a></li>
					<li><img src="@{'public/images/socialize2.png'}" alt="Facebook" /><a href="http://www.facebook.com/profile.php?id=100002661418515">Agréganos como amigo</a></li>
				</ul><!--END ul socialize-->
			</div><!--END ul one-fourth-->
			
			<div class="one-fourth last">	
				<h3>Últimos tweets</h3>	
				<div class="tweets"></div><!--END tweets-->
			</div><!--END ul one-fourth last-->			
		</div><!--END footer-->
		
	</div><!--END footer-wrapper-->