<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="utf-8">

	<!-- Global stylesheets -->
	#{stylesheet 'style.css' /}
	#{stylesheet 'color-dark.css' /}
	#{stylesheet 'blog.css' /}

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

	<!-- Yanone Kaffeesatz font -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:extralight,light,regular,bold' type='text/css' /> 

	<!-- Page specific stylesheets -->
	#{get 'moreStyles' /}

	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

	<!-- Custom js -->
	*{ In future versions, there should be a different 'custom' file per page}*
	#{script 'custom.js' /}

	*{ In future versions, these scripts should be added on demand as 'moreScripts'}*
	<!-- PrettyPhoto JavaScript Files-->
	#{script 'prettyPhoto.js' /}
	#{stylesheet 'prettyPhoto.css' /}

	<!-- Nivo slider JavaScript and Css Files -->
	#{stylesheet 'nivoslider.css' /}
	#{script 'nivoslider.js' /}

	<!-- jQuery ScrollTo -->
	#{script 'jquery.scrollTo.min.js' /}

	<!-- Other page specific scripts -->
	#{get 'moreScripts' /}

	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29278365-1']);
	  _gaq.push(['_setDomainName', 'imagineware.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>

	<div id="wrapper">

		#{header /}

        #{doLayout /}

	</div><!--END wrapper-->

	#{footer /}

</body>

</html>
